#include "\masm32\include\resource.h"

#define	IDD_MAIN 		100
#define	IDC_STATIC_TIME	101
#define WS_EX_LAYERED	0x00080000

IDD_MAIN DIALOGEX 100, 100, 78, 40
STYLE WS_POPUP | WS_VISIBLE
EXSTYLE WS_EX_TOOLWINDOW | WS_EX_LAYERED | WS_EX_NOACTIVATE
BEGIN
END

1 versioninfo
fileversion 0,3,0,0
productversion 0,3,0,0
fileos 0x4
filetype 0x1
{
	block "StringFileInfo"
	{
		block "040904e4"
		{
			value "Author Name", "unknown"
			value "FileDescription", "Small digital clock"
			value "FileVersion", "0.3"
			value "LegalCopyright", "© unknown"
		}
	}

	block "VarFileInfo"
	{
		value "Translation", 0x0409 0x04E4
	}
}